.Yonlendirme {
    display: flex;
    box-shadow: 0 1px #ccc;
    padding: 10px 0;
}

.Yonlendirme a {
    box-shadow: -1px 0 #ccc;
    padding: 0 11px;
    color: #000;
    font-weight: 800;
}

.Yonlendirme a:first-child {
    box-shadow: none;
}
li.chapter.active.expanded {
    color: #000;
    box-shadow: 6px 0 #000 inset;
}
.book-summary ul.summary li.active>a{
    color: #000;
}
li.chapter {
    color: #000;
    box-shadow: 6px 0 #dedede inset;
}

.book-summary ul.summary li.active {
    color: #4e4e4e;
}

.book .book-summary ul.summary li span {
    box-shadow: 6px 0 #dedede inset;
}
.book .book-summary .expanded > a .exc-trigger:before, .book .book-summary .expanded > span .exc-trigger:before {
    content: "\f111";
    color: #000;
}
.book .book-summary .exc-trigger:before {
    content: "\f111";
    color:#dedede;
}
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    padding-left: 40px;
}
.book .book-summary ul.summary li a:link{text-decoration:none}
li.chapter.expanded:hover {
    color: #000;
    box-shadow: 6px 0 #aaa inset;
}
li.chapter.expanded.active:hover {
    box-shadow: 6px 0 #000 inset;
}
.book .book-summary .exc-trigger {
    left: 17px;
}
.active > .book .book-summary .exc-trigger:before {
    color:#dedede
}
.book .book-summary ul.summary li span {
    color: #aaa;
}
#book-search-results .search-results .has-results .search-results-item a {
    color: #000;
}